.vs/
BlogAPI/wwwroot/Images/*
client/.env
.env


# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Build outputs
*.dll
*.exe
*.pdb
*.cache
*.user
*.suo
*.userosscache
*.sln.docstates
*.deps.json
*.staticwebassets.*
EOF